*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    line-height: 1;
    margin: 0;
}

button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
}

.hidden {
    display: none;
}
/* ---setting--- */

/* body img { 랜덤이미지 하려고
    position: fixed;
    z-index: -1;
    top: -51rem;
    left: -90rem;
    opacity: 0.7;
    transform: scale(0.6);
} */

/* dark mode */
body {
    --background: rgb(70, 70, 70);
    --text: #cecece;
    --input-text: #cecece;
    --input-background: rgba(114, 114, 114, 0.2);
    --placeholder-text: rgb(240, 240, 240);
    --border: #000000;
    --shadow: #ffffff;
    --box-shadow1: #242424;
    --box-shadow2: #555555;
    --btn-background: rgba(75, 74, 74, 0.8);
    --btn-text: #000000;
    --calendar-background: #6b6b6b;
    --gray-text: #c4c4c4;
    --today-background: #a7a7a7;
    --today-text: #ffffff;
}
/* light mode */
.theme-light {
    --background: rgb(235, 236, 240);
    --text: #000000;
    --input-text: #000000;
    --input-background: rgba(114, 114, 114, 0.2);
    --placeholder-text: rgb(100, 100, 100);
    --border: #000000;
    --shadow: #000000;
    --box-shadow1: #cfd0d3;
    --box-shadow2: #ffffff;
    --btn-background: rgba(75, 74, 74, 0.8);
    --btn-text: #000000;
    --calendar-background: #ffffff;
    --gray-text: #3b3b3b;
    --today-background: #cfcfcf;
    --today-text: #000000;
}

body {
    background-color: var(--background);
}

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

#login-form {
    margin: 1vh;
}

#greeting {
    margin: 2.5vh;
    font-size: 2.5rem;
    color: var(--text);
}
#icon-btn {
    margin: 2vh;
}
#icon-btn img {
    width: 7vh;
    height: 7vh;
    opacity: 0.8;
    filter: drop-shadow(0 0 0.5rem var(--shadow)); 
}
#icon-text {
    font-size: 1rem;
    color: var(--text);
}

#login-form {
    margin: 3vh 2vh;
}
#login-form input {
    width: 33vh;
    height: 8.5vh;
    color: var(--input-text);
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--border);
    background-color: var(--input-background);
    color: var(--input-text);
    padding: 2vh;
    font-size: 1.2rem;
    border-radius: 0.7rem;
    background: var(--background);
    box-shadow: inset 0.3rem 0.3rem 1rem var(--box-shadow1),
                inset -0.3rem -0.3rem 1rem var(--box-shadow2);
}

#login-form input::placeholder, #todo-form input::placeholder {
    color: var(--placeholder-text);
}

#login-form button {
    width: 5.5vh;
    height: 8vh;
    margin-left: 1.3vh;
    border-radius: 0.3rem;
    color: var(--text);
    background: var(--background);
    box-shadow: 0.3rem 0.3rem 1rem var(--box-shadow1),
                -0.3rem -0.3rem 1rem var(--box-shadow2);
    
}

#weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin: 2.5vh 3.5vh;
}

#weather span{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
    margin-bottom: 1vh;

}

.box-space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 73vw;
    height: 73vh;
    margin: 0 auto;
    border-radius: 0.2rem;
    background: var(--background);
    box-shadow: inset 0.3rem 0.3rem 1rem var(--box-shadow1),
                inset -0.3rem -0.3rem 1rem var(--box-shadow2);
}


.left-container {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right-container {
    margin-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#clock {
    margin: 2vh 0;
    font-size: 3rem;
    color: var(--text);
}
#todo-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vw;
    height: 67vh;
}

#todo-form input {
    border: none;
    border-color: var(--border);
    padding: 2vh;
    font-size: 1.2rem;
    font-family: 'Nanum Myeongjo', serif;
    font-size: 2.3vh;
    width: 22vw;
    height: 5.5vh;
    margin: 2vh 0;
    color: var(--input-text);
    border-radius: 0.3rem;
    background: var(--background);
    box-shadow: inset 0.3rem 0.3rem 1rem var(--box-shadow1),
                inset -0.3rem -0.3rem 1rem var(--box-shadow2);
}
.todo-list-box {
    width: 22vw;
    height: 60vh;
    border-radius: 0.3rem;
    background: var(--background);
    box-shadow: 0.3rem 0.3rem 1rem var(--box-shadow1),
                -0.3rem -0.3rem 1rem var(--box-shadow2);
}
.todo-list-box button {
    width: 1.2vw;
    height: 2vh;
    color: var(--text);
    margin-left: 1vh;
}
#todo-list {
    text-align: center;
    font-size: 1rem;
}
#todo-list li {
    margin: 1vh;
}
#todo-list span {
    font-family: 'Nanum Myeongjo', serif;
    color: var(--text);
}

#quotes {
    margin: 3vh auto;
    width: 73vw;
    /* height: vh; */
    padding: 0.4vh 0.4vw;
    text-align: center;
    border-radius: 0.1rem;
    box-shadow: 0.3rem 0.3rem 1rem var(--box-shadow1),
                -0.3rem -0.3rem 1rem var(--box-shadow2);
}
#quotes span {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--text);
}

.finish-todo {
    text-decoration: line-through;
}
  
/* calendar */
#calendar {
margin: 0;
width: 30vw;
height: 57vh;
/* padding: 5vh 5vw; */
display: grid;
grid-template-rows: 0.7fr 44px 5fr;
grid-gap: 2px;
}
#dayNames {
display: grid;
grid-template-columns: repeat(7, 1fr);
grid-gap: 2px;
border-top: 2px solid;
padding: 0.4em 0;
}
#dates {
display: grid;
grid-template: repeat(5, 1fr) / repeat(7, 1fr);
grid-gap: 2px;
}
#title {
font-family: 'Nanum Myeongjo', serif;
font-size: 3vh;
font-weight: 700;
color: var(--text);
}

.day {
font-family: 'Nanum Myeongjo', serif;
font-weight: 400;
z-index: 1;
color: var(--text);
}

.dayBox {
/* outline: 2px solid var(--text); */
padding: 0.5em;
z-index: 1;
font-weight: 400;
background-color: var(--calendar-background);
color: var(--text)
}
.gray {
color: var(--gray-text);
font-weight: 200;
z-index: 0;
background-color: var(--background);
/* outline: 2px solid var(--text); */
}
.today {
background: var(--today-background);
font-weight: 600;
color: var(--today-text);
}

@media screen and (max-width: 700px) {
    #login-form input {
        width: 25vw;
        height: 5vh;
        padding: 2vh;
        font-size: 1rem;
        border-radius: 0.2rem;
        background-color:rgba(100, 100, 100, 0.2);
        box-shadow: none;
    }
    #login-form button {
        width: 5vh;
        height: 5vh;
        margin-left: 0.5vh;
        border-radius: 0.3rem;
        font-size: 0.3rem;
        font-weight: 700;
    }
    #greeting {
        font-size: 1rem;
        font-weight: 200;
    }
    #weather {
        margin: 2.5vh 3.5vh 0 2.5vh;
    }
    #weather span{
        font-size: 1rem;
        font-weight: 200;
    }
    #icon-btn {
        margin: 2vh 0 0 0;
    }
    #icon-btn img {
        width: 4vh;
        height: 4vh;
    }
    #icon-text {
        font-size: 1vh;
        font-weight: 700;
    }
    .box-space {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto; 
        width: 92vw;
        height: 70vh;
        margin: 0 auto;
    }
    .left-container, .right-container {
        margin: 0;
        width: 92vw;
        height: 70vh;
        padding: 2vh;
    }
    #clock {
        margin: 0 0 3vh 0;
        font-size: 2.5rem;
        font-weight: 200;
        color: var(--text);
    }
    #todo-form {
        width: 68vw;
        height: 68vh;
    }
    #todo-form input {
        width:80vw;
        margin: 1vh 0 2vh 0;
        background-color:rgba(100, 100, 100, 0.2);
        box-shadow: none;
    }
    .todo-list-box {
        width: 77vw;
    }
    .todo-list-box button {
        width: 5vw;
        height: 5vh;
        margin-left: 2vw;
        font-size: 1rem;
        font-weight: 700;
    }
    #quotes {
        padding: 0;
    }
    #quotes span{
        font-size: 0.8rem;
        font-weight: 200;
    }
    #calendar {
        margin: 0;
        width: 80vw;
        height: 57vh;
        /* padding: 5vh 5vw; */
        display: grid;
        grid-template-rows: 0.7fr 44px 5fr;
        grid-gap: 2px;
        }
}