*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    font: 100%;
}

body {
    width: 100vw;
    height: 100vh;
    line-height: 1;
    margin: 0;
}

button {
    background: none;
    color: inherit;
    border: none;
    cursor: pointer;
    outline: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style: none;
}

input:focus {
    outline: none;
}

.hidden {
    display: none;
}
/* ---setting--- */

/* body img { 랜덤이미지 하려고
    position: fixed;
    z-index: -1;
    top: -51rem;
    left: -90rem;
    opacity: 0.7;
    transform: scale(0.6);
} */

/* dark mode */
body {
    --background: rgb(70, 70, 70);
    --text: #cecece;
    --input-text: #cecece;
    --input-background: rgba(114, 114, 114, 0.2);
    --placeholder-text: rgb(240, 240, 240);
    --border: #000000;
    --shadow: #ffffff;
    --box-shadow1: #242424;
    --box-shadow2: #555555;
    --btn-background: rgba(75, 74, 74, 0.8);
    --btn-text: #000000;
}
/* light mode */
.theme-light {
    --background: rgb(235, 236, 240);
    --text: #000000;
    --input-text: #000000;
    --input-background: rgba(114, 114, 114, 0.2);
    --placeholder-text: rgb(100, 100, 100);
    --border: #000000;
    --shadow: #000000;
    --box-shadow1: #cfd0d3;
    --box-shadow2: #ffffff;
    --btn-background: rgba(75, 74, 74, 0.8);
    --btn-text: #000000;
}
body {
    background-color: var(--background);
}

#top-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#login-form {
    margin: 1vh;
}

#greeting {
    margin: 1.5vh;
    font-size: 2.5rem;
    color: var(--text);
}

#weather{
    margin: 2.5vh 3.5vh;
}

#weather span{
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
}


#login-form input, #todo-form input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: var(--border);
    background-color: var(--input-background);
    color: var(--input-text);
    padding: 2vh;
    width: 25vh;
    height: 8vh;
    font-size: 1.2rem;
    
}

#login-form {
    margin: 3vh 2vh;
}
#login-form input {
    width: 33vh;
    height: 8.5vh;
    color: var(--input-text);
    border-radius: 0.7rem;
    background: var(--background);
    box-shadow: inset 0.3rem 0.3rem 1rem var(--box-shadow1),
                inset -0.3rem -0.3rem 1rem var(--box-shadow2);
}

#login-form input::placeholder, #todo-form input::placeholder {
    color: var(--placeholder-text);
}

#login-form button {
    width: 5.5vh;
    height: 8vh;
    margin-left: 1.3vh;
    border-radius: 0.3rem;
    color: var(--text);
    background: var(--background);
    box-shadow: 0.3rem 0.3rem 1rem var(--box-shadow1),
                -0.3rem -0.3rem 1rem var(--box-shadow2);
    
}

#laptopBtn img {
    width: 10vh;
    height: 10vh;
    opacity: 0.8;
    filter: drop-shadow(0 0 0.5rem var(--shadow)); 
}

#laptop-container {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 15vh;
    justify-content: center;
    align-items: center;
}

#laptop-container #laptop-text {
    font-size: 1rem;
    color: var(--text);
}

.container {
    width: 100vw;
    height: 70vh;
    margin: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#clock {
    margin: 3vh;
    font-size: 3rem;
    color: var(--text);
}
#todo-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30vh;
    height: 50vh;
}

#todo-form input {
    width: 32vh;
    height: 5.5vh;
    margin: 2vh 0;
    color: var(--input-text);
    border-radius: 0.7rem;
    background: var(--background);
    box-shadow: inset 0.3rem 0.3rem 1rem var(--box-shadow1),
                inset -0.3rem -0.3rem 1rem var(--box-shadow2);
}
.todo-list-box {
    width: 30vh;
    height: 35vh;

    border-radius: 0.3rem;
    background: var(--background);
    box-shadow: 0.3rem 0.3rem 1rem var(--box-shadow1),
                -0.3rem -0.3rem 1rem var(--box-shadow2);
}
.todo-list-box button {
    width: 2vh;
    height: 2vh;
    color: var(--text);
    margin-left: 1vh;
}
#todo-list {
    text-align: center;
    font-size: 1rem;
}
#todo-list li {
    margin: 1vh 0;
    color: var(--text);

}

#quotes {
    margin: 2vh 0;
    text-align: center;
}
#quotes span {
    font-family: 'Playfair Display', serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 2rem;
    color: var(--text);
}

.finish-todo {
    text-decoration: line-through;
}